<!DOCTYPE html>
<html>
  <head>
    <title>Help | Ruby on Rails Tutorial Sample App</title>
  </head>
  <body>
		<div class = "center jumbotron">
    <h1><strong>Help</strong></h1>
    <h2>
      Get help on the Ruby on Rails Tutorial at the
      <a href="http://www.railstutorial.org/help">Rails Tutorial help
      page</a>.
      To get help on this sample app, see the
      <a href="http://www.railstutorial.org/book">Ruby on Rails
      Tutorial book</a>.
    </h2>
		</div>
  </body>
</html>

