<!DOCTYPE html>
<html>
<head>
	<title>Help| Ruby on Rails Tutorial Sample App
	</title>
</head>
<body>
<h1>Help</h1>
<p>
Get hel on the Ruby on Rails Tutorails at the
<a href="http://www.railstutorial.org/help">Rails Tutorails help page</a>.
To get hlp pn this sample app, see the
<a href="http://www.railstutorial.org/book"><em>Ruby on Rails Tutorails</em>book</a>.
</p>
</body>
</html>
<% provide :title, "Help" %>
<h1>Help</h1>
<p>
	Get hel on the Ruby on Rails Tutorails at the
<a href="http://www.railstutorial.org/help">Rails Tutorails help page</a>.
To get hlp pn this sample app, see the
<a href="http://www.railstutorial.org/book"><em>Ruby on Rails Tutorails</em>
book</a>.
</p>