<div class="center jumbotron">
  <h1>Welcome to the Sample App</h1>

  <h2>
    This is the home page for the
    <a href="http://www.railstutorial.org/">Ruby on Rails Tutorial</a>
    sample application.
  </h2>

  <a href="/signup" class="btn btn-lg btn-primary">Sign up now!</a>
</div>

<%= link_to image_tag("/assets/rails.png", alt: "Rails logo"), "http://rubyonrails.org/" %>
