<section class="user_info">
  <h1 class="col-lg-12 text-center">
    <%= gravatar_for @user %>
    <%= @user.name %>
  </h1>
  <p class="col-lg-12 text-center">
    <%= "Email: " + @user.email %>
  </p>
  <p class="col-lg-12 text-center">
    <%= "Created at: " + @user.created_at.to_s %>
  </p>
</section>
