<aside class="tickets stripe visible-sm visible-md visible-lg">
        <div class="container">
            <div class="row target">
                <div class="col-sm-3 col-md-2">
                    <div class="ticket type1" style="transform: translate3d(-489.145px, -469.645px, 0px) rotate3d(0, 0, 1, -72.866deg);">
                        <div class="title"><span class="glyphicon glyphicon-warning-sign"></span></div>
                        <p><strong>Water the cat</strong></p>
                        <hr>
                        <p>Do not mention the goldfish accident</p>
                    </div>
                </div>
                <div class="col-sm-3 col-md-2">
                    <div class="ticket type2" style="transform: translate3d(-419.319px, -490.188px, 0px) rotate3d(0, 0, 1, -42.4902deg);">
                        <div class="title"><span class="glyphicon glyphicon-usd"></span></div>
                        <p><strong>End all poverty</strong></p>
                        <hr>
                        <p>@james wants this done by Sunday</p>
                    </div>
                </div>
                <div class="col-sm-3 col-md-2">
                    <div class="ticket type1" style="transform: translate3d(-505.446px, -463.158px, 0px) rotate3d(0, 0, 1, 94.8953deg);">
                        <div class="title"><span class="glyphicon glyphicon-earphone"></span></div>
                        <p><strong>Call her maybe</strong></p>
                        <hr>
                        <p>I just met her and this is crazy</p>
                    </div>
                </div>
                <div class="col-sm-3 col-md-2">
                    <div class="ticket type3" style="transform: translate3d(526.377px, -402.618px, 0px) rotate3d(0, 0, 1, -146.867deg);">
                        <div class="title"><span class="glyphicon glyphicon-briefcase"></span></div>
                        <p><strong>Increase market synergy</strong></p>
                        <hr>
                        <p>Future-proof the budgetary</p>
                    </div>
                </div>
                <div class="col-sm-3 col-md-2">
                    <div class="ticket type4" style="transform: translate3d(532.469px, -413.533px, 0px) rotate3d(0, 0, 1, 59.0831deg);">
                        <div class="title"><span class="glyphicon glyphicon-fire"></span></div>
                        <p><strong>Incinerate the morality core</strong></p>
                        <hr>
                        <p>Avoid deadly neurotoxin</p>
                    </div>
                </div>
                <div class="col-sm-3 col-md-2">
                    <div class="ticket type3" style="transform: translate3d(477.628px, -382.983px, 0px) rotate3d(0, 0, 1, 11.0856deg);">
                        <div class="title"><span class="glyphicon glyphicon-random"></span></div>
                        <p><strong>Stay focused</strong></p>
                        <hr>
                        <p>Pay extra attention to… ooh, shiny!</p>
                    </div>
                </div>
                <div class="col-sm-3 col-md-2">
                    <div class="ticket type4" style="transform: translate3d(-443.676px, -503.627px, 0px) rotate3d(0, 0, 1, 64.2593deg);">
                        <div class="title"><span class="glyphicon glyphicon-thumbs-up"></span></div>
                        <p><strong>Like family photos</strong></p>
                        <hr>
                        <p>Aunt Gertrude has a new dog</p>
                    </div>
                </div>
                <div class="col-sm-3 col-md-2">
                    <div class="ticket type1" style="transform: translate3d(-412.086px, -448.307px, 0px) rotate3d(0, 0, 1, 135.859deg);">
                        <div class="title"><span class="glyphicon glyphicon-search"></span></div>
                        <p><strong>Look for clues</strong></p>
                        <hr>
                        <p>It's elementary my dear @watson</p>
                    </div>
                </div>
                <div class="col-sm-3 col-md-2">
                    <div class="ticket type2" style="transform: translate3d(-482.973px, -424.185px, 0px) rotate3d(0, 0, 1, 64.5364deg);">
                        <div class="title"><span class="glyphicon glyphicon-shopping-cart"></span></div>
                        <p><strong>Buy lasagne</strong></p>
                        <hr>
                        <p>Jonathan's cat seems to like it</p>
                    </div>
                </div>
                <div class="col-sm-3 col-md-2">
                    <div class="ticket type3" style="transform: translate3d(473.642px, -447.719px, 0px) rotate3d(0, 0, 1, 33.7838deg);">
                        <div class="title"><span class="glyphicon glyphicon-leaf"></span></div>
                        <p><strong>Protect Sarif Industries</strong></p>
                        <hr>
                        <p>I never asked for this</p>
                    </div>
                </div>
                <div class="col-sm-3 col-md-2">
                    <div class="ticket type2" style="transform: translate3d(455.986px, -472.118px, 0px) rotate3d(0, 0, 1, 10.2579deg);">
                        <div class="title"><span class="glyphicon glyphicon-cutlery"></span></div>
                        <p><strong>Lunch at Big Kahuna</strong></p>
                        <hr>
                        <p>This is a tasty burger</p>
                    </div>
                </div>
                <div class="col-sm-3 col-md-2">
                    <div class="ticket type4" style="transform: translate3d(544.341px, -499.6px, 0px) rotate3d(0, 0, 1, -117.152deg);">
                        <div class="title"><span class="glyphicon glyphicon-camera"></span></div>
                        <p><strong>Take pictures of lunch</strong></p>
                        <hr>
                        <p>Upload to instagram</p>
                    </div>
                </div>
                <div class="visible-md visible-lg">
                    <div class="col-sm-3 col-md-2">
                        <div class="ticket type3" style="transform: translate3d(-520.724px, -420.011px, 0px) rotate3d(0, 0, 1, 4.97075deg);">
                            <div class="title"><span class="glyphicon glyphicon-screenshot"></span></div>
                            <p><strong>Set phasers to stun</strong></p>
                            <hr>
                            <p>Investigate the final frontier</p>
                        </div>
                    </div>
                    <div class="col-sm-3 col-md-2">
                        <div class="ticket type4" style="transform: translate3d(-418.547px, -495.9px, 0px) rotate3d(0, 0, 1, -87.5849deg);">
                            <div class="title"><span class="glyphicon glyphicon-tower"></span></div>
                            <p><strong>Forgive Manuel</strong></p>
                            <hr>
                            <p>He's from Barcelona</p>
                        </div>
                    </div>
                    <div class="col-sm-3 col-md-2">
                        <div class="ticket type2" style="transform: translate3d(-424.322px, -465.719px, 0px) rotate3d(0, 0, 1, 125.011deg);">
                            <div class="title"><span class="glyphicon glyphicon-trash"></span></div>
                            <p><strong>Take out the trash</strong></p>
                            <hr>
                            <p>Permanently delete 11 files?</p>
                        </div>
                    </div>
                    <div class="col-sm-3 col-md-2">
                        <div class="ticket type1" style="transform: translate3d(455.851px, -476.001px, 0px) rotate3d(0, 0, 1, -67.9786deg);">
                            <div class="title"><span class="glyphicon glyphicon-bookmark"></span></div>
                            <p><strong>Bookmark this page</strong></p>
                            <hr>
                            <p>Show it to your friends</p>
                        </div>
                    </div>
                    <div class="col-sm-3 col-md-2">
                        <div class="ticket type3" style="transform: translate3d(506.02px, -453.855px, 0px) rotate3d(0, 0, 1, -94.8303deg);">
                            <div class="title"><span class="glyphicon glyphicon-home"></span></div>
                            <p><strong>Finally go home</strong></p>
                            <hr>
                            <p>Come on, it's getting late</p>
                        </div>
                    </div>
                    <div class="col-sm-3 col-md-2">
                        <div class="ticket type2" style="transform: translate3d(462.583px, -444.829px, 0px) rotate3d(0, 0, 1, 38.0294deg);">
                            <div class="title"><span class="glyphicon glyphicon-exclamation-sign"></span></div>
                            <p><strong>Brace myself</strong></p>
                            <hr>
                            <p>Apparently the winter is coming</p>
                        </div>
                    </div>
                </div>
                <div class="visible-lg">
                    <div class="col-sm-3 col-md-2">
                        <div class="ticket type2" style="transform: translate3d(-518.112px, -451.803px, 0px) rotate3d(0, 0, 1, 54.1769deg);">
                            <div class="title"><span class="glyphicon glyphicon-heart"></span></div>
                            <p><strong>What is love?</strong></p>
                            <hr>
                            <p>Baby don't hurt me, don't hurt me, no more</p>
                        </div>
                    </div>
                    <div class="col-sm-3 col-md-2">
                        <div class="ticket type3" style="transform: translate3d(-423.616px, -399.398px, 0px) rotate3d(0, 0, 1, 85.592deg);">
                            <div class="title"><span class="glyphicon glyphicon-eye-open"></span></div>
                            <p><strong>Live and let die</strong></p>
                            <hr>
                            <p>For your eyes only, @doubleoh7</p>
                        </div>
                    </div>
                    <div class="col-sm-3 col-md-2">
                        <div class="ticket type1" style="transform: translate3d(-418.295px, -401.345px, 0px) rotate3d(0, 0, 1, -7.88911deg);">
                            <div class="title"><span class="glyphicon glyphicon-cloud-upload"></span></div>
                            <p><strong>Move business to cloud</strong></p>
                            <hr>
                            <p>Forget about backups</p>
                        </div>
                    </div>
                    <div class="col-sm-3 col-md-2">
                        <div class="ticket type4" style="transform: translate3d(418.615px, -406.518px, 0px) rotate3d(0, 0, 1, 139.624deg);">
                            <div class="title"><span class="glyphicon glyphicon-print"></span></div>
                            <p><strong>Print all emails</strong></p>
                            <hr>
                            <p>Strip the two-page footer disclaimer first</p>
                        </div>
                    </div>
                    <div class="col-sm-3 col-md-2">
                        <div class="ticket type3" style="transform: translate3d(541.267px, -446.25px, 0px) rotate3d(0, 0, 1, -141.634deg);">
                            <div class="title"><span class="glyphicon glyphicon-globe"></span></div>
                            <p><strong>Assimilate humans</strong></p>
                            <hr>
                            <p>All resistance is futile</p>
                        </div>
                    </div>
                    <div class="col-sm-3 col-md-2">
                        <div class="ticket type1" style="transform: translate3d(429.131px, -430.842px, 0px) rotate3d(0, 0, 1, 148.425deg);">
                            <div class="title"><span class="glyphicon glyphicon-circle-arrow-down"></span></div>
                            <p><strong>Keep scrolling</strong></p>
                            <hr>
                            <p>Read about our awesome features</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </aside>