<div class="hero stripe">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="three-dee" style="perspective-origin: 50% 319px;">
                        <div class="monitor">
                            <div class="screen">
                                <div class="display"></div>
                            </div>
                        </div>
                    </div>
                    <h1>Agile project management<br>for <span class="modern">mo</span><span class="typed-cursor modern">|</span>&nbsp;teams<br>who love&nbsp;GitHub</h1>
                    <div class="call-to-action">
                        <a class="btn btn-primary btn-not-android" href="https://overv.io/login/">Get started now</a>
                        <a class="btn-android" href="https://play.google.com/store/apps/details?id=io.overv&amp;utm_source=global_co&amp;utm_medium=prtnr&amp;utm_content=Mar2515&amp;utm_campaign=PartBadge&amp;pcampaignid=MKT-AC-global-none-all-co-pr-py-PartBadges-Oct1515-1">
                            <img class="android-get-it-badge" alt="Get it on Google Play" src="/assets/en-play-badge.png">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>