<footer>
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <p><img src="/assets/best-emotion.png" alt="overv.io" class="img-responsive"></p>
                    <p>Copyright © 2010-2017 from <a href="https://github.com/tardigrades2/Ruby_k59">Github</a>. All rights reserved.</p>
                </div>
            </div>
        </div>
    </footer>