<div data-scrollmagic-pin-spacer="" class="scrollmagic-pin-spacer" style="top: auto; left: auto; bottom: auto; right: auto; margin: 25px 0px; display: block; position: relative; box-sizing: content-box; min-height: 51px; height: auto; padding-top: 0px; padding-bottom: 0px;">
  <nav class="navbar navbar-default" role="navigation" style="position: relative; margin: auto; top: auto; left: auto; bottom: auto; right: auto; box-sizing: border-box; width: 100%;">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="navbar-header">
            
          </div>
            <ul class="nav navbar-nav navbar-right">
              <li><%= link_to "Home", root_path, class: "menu-item" %></li>
              <li><%= link_to "Help", help_path, class: "menu-item" %></li>
              <li><%= link_to "Sign in", '#', class: "menu-item" %></li>
              <li><%= link_to "Sign up now!", signup_path, class: "btn" %></li>
            </ul>
          </div>
        </div>
      </div>
    </nav>
</div>