<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "Page forest", "#", id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right", id = "symbol">
        <li><%= link_to "Home", "home" %></li>
        <li><%= link_to "Sign in", "log_in" %></li>
        <li><%= link_to "Sign up", "sign_in" %></li>
      </ul>
    </nav>
  </div>
</header>
