<html>

<head > <% provide :title, "Home" %></head>

<body style="position:relative; top :80px;">
<h1> PageForest_Master_Rubyonrails </h1>
<p style="font-size:20px;"> This is the home page for the 
  <a href="http://www.railstutorial.org"> Ruby on rails Tutorial </a>
</p>
<img src= "http://www.hotscripts.com/blog/wp-content/uploads/2012/02/ruby-on-rails-tutorials.jpg">
</body>

</html>
