<section class="stripe">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h2>Custom tailored <span>to fit your project</span></h2>
                    <p><img src="/assets/mac.jpg" alt="" class="img-responsive"></p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <p>Open/closed are not enough to see if a feature was throughly tested or&nbsp;deployed.</p>
                    <p>Use custom issue states to track the entire life cycle of an issue as it gets picked up, delivered and&nbsp;accepted.</p>
                </div>
                <div class="col-sm-6">
                    <p>All of your team's activity is instantly reflected across all of your&nbsp;screens.</p>
                    <p>Forget micromanagement. See discussions unfold and priorities change in real time as the project&nbsp;progresses.</p>
                </div>
            </div>
        </div>
    </section>