<section class="no-strings stripe">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h2>No strings attached</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <p><img src="/assets/no-strings-bear.png" alt="" class="img-responsive"></p>
                    <h3>You own your data</h3>
                    <p>We store all critical information on&nbsp;GitHub.</p>
                    <p>These are your projects. You get to keep your data and we can't lose&nbsp;it.</p>
                    <p>Even if our servers get mauled by a grizzly&nbsp;bear.</p>
                </div>
                <div class="col-sm-4">
                    <p><img src="/assets/no-strings-no-commitment.png" alt="" class="img-responsive"></p>
                    <h3>No commitment required</h3>
                    <p>You are free to only move a part of your team to&nbsp;overv.io.</p>
                    <p>People who hate progress can just keep using GitHub directly. Everyone gets to keep using their favourite&nbsp;tools.</p>
                </div>
                <div class="col-sm-4">
                    <p><img src="/assets/no-strings-bye.png" alt="" class="img-responsive"></p>
                    <h3>And then one day…</h3>
                    <p>You may find a flashier app. And you'll stop returning our calls. And while we lay in our bed and certainly <em>not</em> cry¹, you realize that there is no data for you to pick up from our place while awkwardly trying to hold a&nbsp;conversation.</p>
                    <p><small>¹ Well, maybe a little. This is how much we love&nbsp;you.</small></p>
                </div>
            </div>
        </div>
    </section>