<section class="stripe new-flow">
        <div class="row">
            <div class="col-xs-12 text-center">
                <p><img src="/assets/love.svg" alt="" class="img-responsive new-flow-equation"></p>

                <p class="new-flow-desc">
                    <span class="new-flow-open">Open</span> and <span class="new-flow-closed">closed</span> are not
                    enough.<br> Use <strong>custom issue states</strong> to track the entire life cycle of an issue
                    as it gets picked up, delivered, tested, accepted and finally deployed.
                </p>

                <img src="/assets/flow.gif" alt="" class="img-responsive new-flow-demo">
            </div>
        </div>
    </section>