<title>overv.io — Build smarter.</title>
    <link rel="icon" href="https://overv.io/favicon.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google-site-verification" content="XDWCP6avGjg0foGSKckxOyuVyE1ylKt5ptwgTZLER1U">
    <meta itemprop="name" content="overv.io">
    <meta itemprop="description" content="Your GitHub projects. Organized.">
    <meta itemprop="image" content="https://overv.io/splash/img/icon.png">
    <link rel="stylesheet" href="./overv.io — Build smarter._files/style.css">
    <link rel="publisher" href="https://plus.google.com/107780538264780779863">
    <link href="./overv.io — Build smarter._files/css" rel="stylesheet" type="text/css">
    <link href="./overv.io — Build smarter._files/font-awesome.min.css" rel="stylesheet">
    <script async="" src="./overv.io — Build smarter._files/analytics.js.download"></script><script src="./overv.io — Build smarter._files/head.js.download"></script>